*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: Roboto;
}

a{
    text-decoration: none;
}

.navlist{
    width: 100%;
    padding: 5px 10vw;
    position: fixed;
    margin-top: 8px;
}

.navlist ul{
    display: flex;
    list-style: none;
    margin-top: 1%;
}


.navlist ul a{
    margin-left: 28px;
    font-size: 18px;
    padding: 25px;
    color: #fff;
}

.navlist ul a:hover{
    color: #f80;
    transition: 0.1s;
}

/*container*/
.container{
    width: 100%;
    height: 85vh;
    padding-top: 25vh;
    background-image: linear-gradient(#000000c3,  #000000c3), url("scadlogo.jpeg");
    text-align: center;
    color: #fff;
    background-size: cover;
}


.container h1{
    margin-bottom: 15px;
    word-spacing: 4px;
}

.container h2{
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.container button{
    padding: 10px;
    background: black;
    border: 2px solid #ccc;
}

.container .but b{
    color: #ccc;
}

.container button:hover{
    background: #f80;
}
/*slide images*/

.content-box{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin: 20px;
}

.content-box .card{
    position: relative;
    max-width: 300px;
    height: 240px;
    background: #f80;
    margin: 30px 10px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3 ease-in-out;
}


.content-box .card:hover{
    height: 420px;
}


.content-box .card .imgBx{
    position: relative;
    width: 220px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    margin-right: 30px;
}

.content-box .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
    margin: 15px;
}

.content-box .card .content{
    position: relative;
    margin-top: -100px;
    padding: 10px 15px;
    text-align: justify;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}


.content-box .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: 10px;

}

.content-box .content p{
    margin-bottom: 15px;
    color: #fff;
}

/*our course*/
 
.course h1{
    text-align: center;
    color: #f80;
}

.imgcourse img{
    padding: 40px;
    align-items: center;
    position: relative;
}

/*you*/
.you{
    margin-left: 150px;
}


/*footer*/
footer{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    color: #fff ;
    background: linear-gradient(to right, #00093c, #2d0b00);
    padding: 100p 0 30px;
    font-size: 12px;
    line-height: 20px;
}


.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    margin-top: 8%;
    text-decoration: none;
}


.logo{
    width: 50%;
    margin-top: 5%;
    margin-right: 2%;
}

.col h1{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #fff;
}


.col ul a:hover{
    color: #f80;
}



form .input{
    width: fit-content;
    border-bottom: 1px solid #ccc;
}


ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fas{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}


form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas{
    font-size: 16px;
    color: #ccc;
}

/*social-icons*/

.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 60%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.social-icons .fab:hover{
    color: #f80;  
}

hr{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px 0 auto;
}


.foot-images img{
    width: 20%;
    height: 35%;
    padding: 5px;
    margin-left: 35px;

}


.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width:700px){
    footer{
        bottom: unset;
    }
}

/*copyright*/

.copyright{
    text-align: center;
}